{% load static %}
{% load staticfiles %}

<html lang="en">
<head>
    <title>Invitation</title>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
body {
    background-position:center;
  background-image: url("{% static 'mainpage/css/images/viber_image.jpg' %}");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 50% 100%;

}
</style>

</head>

<body style="background-color:black;">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">Invitation</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/index">Home</a></li>
     <!-- <li><a href="/contact">Contact</a></li> -->
    </ul>
  </div>
</nav>

<embed src="{% static 'mainpage/css/sounds/witches_house.mp3' %}" loop="true" autostart="true" width="2"
 height="0">

</body>